# Build Stuff
build/
bin/
lib/
dep/

# CMake Stuff
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# IDE stuff
.vscode
.vs